{% load static %}
<html>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
<h2>Quotes</h2>

{% if quote_list %}
    <p>Sent</p>
    <ul>
      <p>{{ quote.created }}</p>

        {% for quote in quote_list %}
          {% if quote.sent %}
            <li><a href="{% url 'quotes:detail' quote.id %}">{{ quote.client }}</a></li>

        {% endif %}
        {% endfor %}
    </ul>
    <p>Not Sent</p>
    <ul>

      {% for quote in quote_list %}
        {% if not quote.sent %}
          <li><a href="{% url 'quotes:detail' quote.id %}">{{ quote.client }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
{% else %}
    <p>No quotes created</p>
{% endif %}
</body>
</html>
